@import '../base.scss';

* {
  padding: 0;
}

link {
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 100%;
  color: white;

  .cell {
    display: none;
  }
}

.list-container-oval {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.welcome-text {
  padding-top: 8px;
  color: white;
}

.iframe-top {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

.regions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  li {
    border: 1px solid $color-border;
    padding: 10px;
    background-color: $color-images;
  }

  li:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: $color-border;
  }
}

.categoryInput {
  color: black;

  option {
    color: black;
  }
}

@media (min-width: 760px) {
  .regions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  
}
