.container-frame {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 10px;
  height: 100vh;
}

@media (min-width: 760px) {
  .container-frame {
    margin: 100px;
  }  
}
