@import '../base.scss';

h1 {
  font-size: 1.5rem;
  color: white;
  padding: 0 15px;
}

header {
  background-color: $color-background;
  box-sizing: border-box;
  height: 96px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  margin-bottom: 5px;

  .d-flex {
    align-items: center;
    border-bottom: solid 1px $color-border;
    display: flex;
    height: 96px;
    justify-content: space-between;
  }
}

nav {
  display: none;
}

.active {
  color: lightblue;
  display: inline;
  border-bottom: 2px solid white;
}

.visibility {
  background-color: transparentize($color-text-background, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: $transition;
  width: 100vw;
  z-index: 800;

  &-hide {
    backdrop-filter: none;
    background-color: transparent;
    transition: $transition*2;
  }

  &-show {
    backdrop-filter: blur(5px);
    background-color: transparentize($color-text-background, 0.7);
    transition: $transition*2;
  }
}

.logo-link {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
  transition: $transition;

  &:hover {
    opacity: 0.5;
    text-decoration: none;
    transition: $transition;
  }

  &:active {
    color: $color-border;
  }
}

.logoLink {
  color: white;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: black;
    transition: $transition;
  }
}

.menu-movil {
  background-color: $color-background;
  color: white;
  display: block;
  left: 0;
  padding-top: 96px;
  position: fixed;
  transition: $transition;
  width: 100%;
  z-index: 900;

  ul {
    list-style-type: none;

    a {
      background-color: $color-background;
      border-bottom: solid 1px $color-border;
      color: white;
      display: block;
      font-size: 1rem;
      letter-spacing: 2px;
      padding: 20px;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }
}

.movil-box {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
  color: white;

  &-icon {
    font-size: 1.75rem;
  }
}

.menu {
  &-hide {
    top: -500px;
  }

  &-show {
    top: 0;
  }
}

.profile {
  align-items: center;
  border: solid 1px $color-border;
  border-radius: 50%;
  color: $color-white;
  display: flex;
  height: 48px;
  justify-content: center;
  transition: $transition;
  width: 48px;

  &:hover {
    background-color: transparentize($color-white, 0.9);
    cursor: pointer;
    transition: $transition;
  }
}

@media (min-width: 760px) {
  h1 {
    font-size: 1.85rem;
  }

  nav {
    align-items: center;
    display: flex;

    ul {
      list-style-type: none;

      li {
        display: inline-block;
        margin: 0 20px;
      }

      a {
        color: white;
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 2px;
        text-decoration: none;

        &:hover {
          background-color: $color-background;
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }

  .active {
    color: lightblue;
  }

  .movil-box {
    display: none;
  }
}
