$color-background: #4369b2;
$color-border: #5687e2;
$color-images: #2d4573;
$color-white: #fff;
$color-text-background: #1d1d1d;

$header-height: 96px;
$padding: 10px;
$rounded: $padding/2;
$transition: 0.5s;
